@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi,</h1>
    <p>Navigate <span> <a asp-area="" asp-controller="Dice" asp-action="Index">here</a> </span> to roll some dice around</p>
</div>
