################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SstProgrammingandDesignProject/bin/Debug/net8.0
/.vs
/SstProgrammingandDesignProject/obj
/SstProgrammingandDesignProject/wwwroot
